.jumbotron {
	border-radius: 0px;
	margin-bottom: 0px;
}

#secOne .jumbotron {
	padding-top: 50px;
	padding-bottom: 600px;
	background-color: transparent;
	background-image: url('/img/discover.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#secTwo .jumbotron {
	background-color: transparent;
	background-image: url('/img/adventure.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 600px;
}

#ceo-message .jumbotron {
	padding-bottom: 150px;
	background-color: transparent;
	background-image: url('/img/jack-patrick-dorsey.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.message {
	max-width: 300px;
}

.block {
	width: 100%;
	height: 500px;;
	position: relative;
	overflow: hidden;
	font-size: 16px;

	h2 {
		position: relative;
		display: block;
		text-align: center;
		margin: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 3vw;
		color: white;
	}
}

.img-parallax {
	width: 100vmax;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	pointer-events: none;
}

.red-cube {
	background-color: transparent;
	background-image: url('/img/social-media.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	display: block;
	padding: 40px 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	opacity: 0;
	transition: 1s;
	width: 0%;
}

.red-cube.show {
	opacity: 1;
	width: 100%;
}


@media only screen and (max-width: 700px) {

  .block {
    height: 300px;
  }

  .jumbotron {
  	height: 450px;
  }
}
